* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
}

:root {
  --blue: #0077b6;
  --d-blue: #23395b;
  --l-blue: #6daedb;
  --white: #f5fafa;
}

/* ========== Start Nav ========== */

nav {
  height: 10rem;
  background: var(--white);
}

.nav-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.nav-logo img {
  height: 4rem;
  margin-right: 1rem;
}

.nav-logo h1 {
  font-weight: 900;
  color: var(--d-blue);
  font-size: 1.8rem;
}

/* ========== End Nav ========== */

/* ========== Start Home Image Section  ========== */

.home-page__img {
  background: linear-gradient(
      to left,
      rgba(220, 220, 221, 0.6),
      rgba(220, 220, 221, 0.6)
    ),
    url("/assets/images/merc.jpg") center/cover fixed no-repeat;
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 70vw;
}

.home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5rem;
  width: 100%;
}

.home-logo h1 {
  font-size: 3rem;
  text-align: center;
}

.home-logo img {
  height: 16rem;
}

.home-logo__text {
  width: 80vw;
  font-size: 1.6rem;
}

.columns {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.columns .columns__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  text-align: center;
  background: var(--white);
  padding: 2rem;
}

.column-one {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background: rgba(35, 57, 91, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  flex-direction: column;
}

.column-two {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background: rgba(35, 57, 91, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  flex-direction: column;
}

.column-three {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background: rgba(35, 57, 91, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  flex-direction: column;
}

.columns__content i {
  color: var(--white);
  font-size: 6rem;
}

.col-img img {
  height: 12rem;
}

/* ========== End Home Image Section  ========== */

@media screen and (max-width: 1024px) {
  .home-page__img {
    height: 30vh;
  }
  .home-page__content {
  }
  .home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2rem;
    width: 100%;
  }
  .home-logo h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  .home-logo img {
    height: 7rem;
  }
  .home-logo__text {
    width: 60vw;
    font-size: 0.6rem;
  }

  .col-img img {
    height: 8rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    margin-bottom: 2rem;
  }
  .home-page__img {
    height: 100%;
    background: rgba(220, 220, 221, 0.6);
  }
  .home-page__content {
    flex-direction: column;
  }
  .home-logo {
    flex-direction: column;
    width: 100%;
  }
  .home-logo h1 {
    font-size: 2rem;
    text-align: center;
  }
  .home-logo__text {
    width: 80vw;
  }
  .home-logo__text p {
    font-size: 0.7rem;
    padding-bottom: 1rem;
  }
  .columns .columns__content {
    flex-direction: column;
    margin-top: 35rem;
  }
  .column-one {
    width: 100%;
    font-size: 1.6rem;
    background: none;
    padding: 6rem;
  }
  .column-two {
    width: 100%;
    font-size: 1.6rem;
    background: none;
    padding: 6rem;
  }
  .column-three {
    width: 100%;
    font-size: 1.6rem;
    background: none;
    padding: 9rem;
  }

  .col-img h1 {
    font-size: 1rem;
  }

  .col-img p {
    font-size: 1rem;
  }

  .col-img img {
    height: 8rem;
  }
}
